{% extends 'cricbuzz/cricbuzz_layout.html' %}

    {% block title %}
        Live Matches
    {% endblock %}
    
{% block body_block %}

<br>

<h2 class="text-center"><b>Live Matches</b></h2>

<br>

<div class="row row-cols-1 row-cols-md-3 g-4">

    {% for item in match_schedule %}

        <!-- <h1>{{ item.matchType }}</h1> -->
   
        {% for match in item.seriesMatches %}

            <!-- <h1>{{ match.seriesAdWrapper }}</h1> -->

            {% for row in match.seriesAdWrapper.matches %}

                <!-- <h1>{{ row.matchInfo.seriesName }}</h1> -->

                <!-- Print area start -->

                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">

                            <h4 class="card-title">Teams: {{ row.matchInfo.team1.teamName }} vs {{ row.matchInfo.team2.teamName }}</h4>
                            <h5 class="card-text"><b>Match Description & Format:</b> {{ row.matchInfo.matchDesc }} - {{ row.matchInfo.matchFormat }}</h5>
                            <p class="card-text"><b>Series Name:</b> {{ row.matchInfo.seriesName }}</p>
                            <p class="card-text"><b>{{ row.matchInfo.team1.teamName }} :</b> {{ row.matchScore.team1Score.inngs1.runs }} - {{ row.matchScore.team1Score.inngs1.wickets }}{% if row.matchScore.team1Score.inngs1.overs %} ({{ row.matchScore.team1Score.inngs1.overs }}) {% endif %}</p>
                            <!-- Check if data exists before displaying it -->
                            <p class="card-text"><b>{{ row.matchInfo.team2.teamName }} :</b> {{ row.matchScore.team2Score.inngs1.runs }} - {{ row.matchScore.team2Score.inngs1.wickets }}{% if row.matchScore.team2Score.inngs1.overs %} ({{ row.matchScore.team2Score.inngs1.overs }}){% endif %}</p>

                            <p class="card-text"><b>Status :</b> {{ row.matchInfo.status }}</p>
                            <p class="card-text"><b>Venue Ground & City:</b> {{ row.matchInfo.venueInfo.ground }} - {{ row.matchInfo.venueInfo.city }}</p>

                        </div>

                        <div class="card-footer">
                            <small class="text-muted">Start Date: <span class="start-date">{{ row.matchInfo.startDate }}</span></small>
                            <br>
                            <small class="text-muted">End Date: <span class="end-date">{{ row.matchInfo.endDate }}</span></small>
                        </div>
                        
                    </div>
                </div>

                <!-- Print area end -->
            {% endfor %}

        {% endfor %}

    {% endfor %}

</div>

<script>
    // Get all elements with class "start-date" and "end-date" and convert epoch timestamps to standard date format
    document.addEventListener("DOMContentLoaded", function() {
        var startDates = document.querySelectorAll(".start-date");
        var endDates = document.querySelectorAll(".end-date");

        startDates.forEach(function(element) {
            var epochTimestamp = Number(element.textContent) ; 
            var date = new Date(epochTimestamp); // Create a Date object
            element.textContent = date.toLocaleString(); // Update the element with the formatted date
        });

        endDates.forEach(function(element) {
            var epochTimestamp = parseInt(element.textContent); 
            var date = new Date(epochTimestamp); // Create a Date object
            element.textContent = date.toLocaleString(); // Update the element with the formatted date
        });
    });
</script>


{% endblock %}
