{% extends 'layout.html' %}

{% block title %}

Sports Info

{% endblock %}

{% block body_block %}

{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>

        <meta charset="utf-8">
        <link href="{% static 'css/style_info.css' %}" rel="stylesheet">
        

    </head>

    <body>

        <br><br><br><br>
        <div class="div-2">
            <h2 class="text-center"><b><ul>Detailed Sports Information</b></ul></h2>
        </div>

        <ul>
            <div class="div-1">
                <li>
                    <h3>{{ sports_info.sport_name }}</h3>
                    <hr>
                    <img class="centered-image" src="{{ sports_info.image.url }}" alt="{{ sport.sport_name }} Image">
                    <hr>
                    <p><strong>Category:</strong> {{ sports_info.forrmat_type }}</p>
                    <p><strong>Playing Area:</strong> {{ sports_info.playing_area }}</p>
                    <p><strong>Number of Players:</strong> {{ sports_info.number_of_players }}</p>
                    <p><strong>Description:</strong> {{ sports_info.description }}</p>
                    <p><strong>Equipments Required:</strong> {{ sports_info.equipments_required }}</p>
                    <p><strong>History:</strong> {{ sports_info.history }}</p>
                    <p><strong>Rules:</strong> {{ sports_info.rules }}</p>
                    <p><strong>Governing Body:</strong> {{ sports_info.governing_body }}</p>
                </li>
            </div>
        </ul>

    </body>

</html>

{% endblock %}