{% extends 'layout.html' %}

{% block title %}

Home Page

{% endblock %}

{% block body_block %}

<main>

    <div class="intro">
      <h1>Score And News</h1>
      <p>Watch thousands of live events and shows from the Multisports_Score_And_News_App <br> networks plus get scores, on-demand news, highlights, and expert analysis.</p>

    </div>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">Live Score</p>
        <p class="work-text">Get the live score of the different sports.</p>
      </div>
      <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">Sports News</p>
        <p class="work-text">Get the latest news of the different sports.</p>
      </div>
      <div class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">Match schedule</p>
        <p class="work-text">Get the list of the upcomming matches.</p>
      </div>
    </div>
    <div class="about-me">
    </div>
    
  </main>


{% endblock %}