<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align:center;">Welcome to {{ category }}</h1>

    <form method = "POST" action ="" >
        
        {% csrf_token %}

        {% for row in questions_queryset %}

        <fieldset>

            <legend>{{ row.question }}</legend>

            <input type="radio" name="Question_{{row.id}}" value="{{ row.option1 }}" checked> {{ row.option1 }}<br>
            <input type="radio" name="Question_{{row.id}}" value="{{ row.option2 }}"> {{ row.option2 }}<br>
            <input type="radio" name="Question_{{row.id}}" value="{{ row.option3 }}"> {{ row.option3 }}<br>
            <input type="radio" name="Question_{{row.id}}" value="{{ row.option4 }}"> {{ row.option4 }}<br>

        </fieldset>

        {% endfor %}

        <input type="submit" value="Submit" class="btn btn-primary">

    </form>

</body>
</html>